@font-face {
    font-family: 'MateSC-Regular';
    src: url('fonts/MateSC-Regular.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    color: rgb(83, 83, 83);
    pointer-events: none;
    font-family: 'MateSC-Regular', sans-serif;
}

.btn-link:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.link-secondary {
    opacity: 0.5;
}

.nav-main li {
    padding-left: 20px;
}

.header-social-links {
    padding-left: 20px;
}

.header-social-links a {
    padding-left: 6px;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    font-size: 16px;
}

.header-social-links a:hover {
    opacity: 0.5;
}
