<!DOCTYPE html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

        <link rel="stylesheet" href="{{ '/styles.css' | url }}">
    </head>
<body class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
    <header class="flex justify-between items-center py-4 md:py-8 mb-4">
        <nav class="flex gap-10">
            <a href="/" class="text-lg font-semibold">Home</a>
        </nav>
        {% for link in navigationLinks %}
        <a href="{{ link.url }}" class="inline-block hover:text-gray-500 text-lg font-semibold">		
            {{ link.text }}	
        </a>	
        {% endfor %}
    </header>
    <main>
        <h1>{{ title or metadata.title }}</h1>
        {{ content | safe }}
    </main>
</body>
</html>